*{
    border: 0;
    margin: 0;
}

header{
    margin-top: 3px;
    padding: 15px;
    border: 1px solid peru;
    text-align: center;
}

/* -webkit-lineal-gradient (direccion_gradiente, color1, color2) */
#lineal{
    /* background: -webkit-linear-gradient(top right, #000, #fff, #0f0); */
    /* background: #9796f0;  fallback for old browsers */ 
    background: -webkit-linear-gradient(top right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #fbc7d4, #9796f0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.circular{
    /* posicion => center, top, bottom, left, right, %
    forma => circle, ellipse
    colores => 2 a mas */
    background: -webkit-radial-gradient(center, ellipse, #085078, #85d8ce);
    
    height: 40px;
}
/* admite valores entre 1px y 10px */
/* difuminado */
p{
    filter: blur(10px);
}
/* admite valores entre 0.1 y 1 */
img{
    /* admite valores entre 0 y 1 */
    /* escala de grises mientras mas se aproxime al 1 mas gris sera la imagen */
    filter: grayscale(1);
    /* usado para determinar el contraste de la imagen, mientras mas se aproxime a 1 
    sera su contraste natural */
    filter: contrast(0.9);
    /* Invierte los colores de la imagen con sus negativos, mientras mas se aproxime
    a 1 sus negativos seran mas intensos */
    filter: invert(0.8);
    /* En la pagina 127 en el libro, en el pdf reader 1142 */
}

